.valigner {
    display: table;
    height: 100%;
    width: 100%;
    }
.valigner__cell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    }

.list {}
.list--inline {
    @include inline-parent();
    }
.list--inline__item {
    @include inline-child( $base_line_height, $font_freight );
    margin: 0 40px;
    }

.caps {
    text-transform: capitalize;
    }

.meta {}

.wrapper {
    padding: 100px 0;
    }


@media only screen and ( max-width: $break_tablet_full ) {
    .wrapper {
        padding: 60px 70px 0;
        }
}


@media only screen and ( max-width: $break_tablet_small ) {
    .list--inline__item {
        display: block;
        margin: 0;
        }
}


@media only screen and ( max-width: $break_mobile_full ) {
    .wrapper {
        padding: 50px 50px 50px;
        }
}