.valigner {
    display: table;
    height: 100%;
    width: 100%;
    }
.valigner__cell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    }

.list {}
.list--inline {
    @include inline-parent();
    }
.list--inline__item {
    float: left;
    margin: 0 0 0 30px;

    &:first-child {
        margin: 0 0 0 0;
        }
    }
.list--inline__item--p {
    @include inline-child( $base_line_height, $font_proxima );
    }
.list--inline__item--h {
    @include inline-child( $base_line_height, $font_freight );
    line-height: 1.4;
    margin: 0 0 0 33px;
    }

.caps {
    text-transform: capitalize;
    }