html {
    @include box-sizing(border-box);
    }
html,
body {}

*,
*:before,
*:after {
    @include box-sizing(inherit);
    }

body {
    @include opacity(0);
    background-color: $color_white;
    color: $color_body;
    font-family: $font_proxima;
    font-size: $base_font_size;
    font-style: normal;
    font-weight: 300;
    line-height: $base_line_height;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );
    -webkit-touch-callout: none;

    &.is-animate {
        @include transition(opacity $base_transition_duration1 ease);
        }

    &.is-active {
        @include opacity(1);
        }
    }

p {
    color: $color_body;
    font-family: $font_proxima;
    font-size: $base_font_size;
    line-height: $base_line_height;
    }

a {
    @include transition(color $base_transition_duration1 ease);
    color: $color_highlight;
    font-weight: normal;
    text-decoration: underline;

    &:hover {
        color: $color_black;
        }
    }