.gallery {
    overflow: visible;
    position: relative;
    }

.gallery__collection {
    height: 100%;
    position: relative;
    z-index: $z_layer_01;
    }

.gallery__collection__item {
    @include opacity(0);
    @include transition(opacity $base_transition_duration1 ease);
    background-color: $color_grey_light;
    cursor: pointer;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;

    &.is-active {
        @include opacity(1);
        @include translate3d(0, 0, 0);
        display: block;
        position: relative;
        z-index: $z_layer_02;
        }

    &.is-exiting {
        @include opacity(0);
        @include translate3d(0, 0, 0);
        display: block;
        z-index: $z_layer_02;
        }

    &.is-entering {
        @include opacity(1);
        @include translate3d(0, 0, 0);
        display: block;
        z-index: $z_layer_02 - 1;
        }
    }

.gallery__indicators {
    @include inline-parent();
    bottom: -72px;
    left: 0;
    position: absolute;
    right: 0;
    text-align: right;
    z-index: $z_layer_02;
    }

.gallery__indicators__item {
    @include inline-child( $base_reset_lineheight );
    @include border-radius($gallery_indicator_size);
    @include transition(background-color $base_transition_duration1 ease);
    background-color: $color_grey_light;
    height: $gallery_indicator_size;
    margin: 0 6px;
    width: $gallery_indicator_size;
    }


// Static galleries
.gallery--static {
    .gallery__indicators {
        display: none;
        }

    .gallery__collection {
        height: auto !important;
        }

    .gallery__collection__item {
        @include opacity(1);
        display: block;
        height: auto;
        margin-bottom: 20px;
        position: relative;
        }
}


@media only screen and ( min-width: $grid_min_width ) {
    .gallery,
    .sqs-row,
    .sqs-block.gallery-block.sqs-block-gallery {
        position: static;
        }
    .gallery__indicators {
        bottom: 100px;
        text-align: left;
        }
}


@media only screen and ( max-width: $break_tablet_full ) {
    .gallery__indicators {
        right: $grid_tablet_spacing;
        }
}


@media only screen and ( max-width: $break_mobile_full ) {
    .gallery__indicators {
        right: $grid_mobile_spacing;
        }

    .gallery--static {
        .gallery__collection__item {
            margin-bottom: 10px;
            }
    }
}