// grid
.grid {
    position: relative;
    }

// flex grid
.grid--flex {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -webkit-align-items: stretch;
    -webkit-align-content: stretch;
    -webkit-justify-content: space-between;
    }


// col
.column {
    float: left;
    position: relative;
    width: 100%;
    }

// col: main
@each $col in $grid_columns {
    $divided: $col / $grid_length;
    $percent: percentage( $divided );
    $num_gutters: ($grid_length / $col) - 1;
    $the_space: $num_gutters * ($base_gutter);

    .column--#{$col}of#{$grid_length} {
        width: percentage( $col / $grid_length );
        }

    .flex--#{$col}of#{$grid_length} {
        width: calc( (100% - #{$the_space}) * #{$divided} );
        }
}

// col: extras
.column--1of4 { width: 25%; }
.column--2of4 { width: 50%; }
.column--3of4 { width: 75%; }
.column--1of5 { width: 20%; }
.column--2of5 { width: 40%; }
.column--3of5 { width: 60%; }
.column--4of5 { width: 80%; }

// col: push
@each $col in $grid_columns {
    .-push--#{$col} {
        margin-left: percentage( $col / $grid_length );
        }
}

// col: pull
@each $col in $grid_columns {
    .-pull--#{$col} {
        margin-left: -( percentage( $col / $grid_length ) );
        }
}

// col: prepend
@each $col in $grid_columns {
    .-prepend--#{$col} {
        margin-top: percentage( $col / $grid_length );
        }
}

// col: append
@each $col in $grid_columns {
    .-append--#{$col} {
        margin-bottom: percentage( $col / $grid_length );
        }
}

@media only screen and ( max-width: $break_tablet_small ) {
    .column:not(.column--mobile-same),
    [class*="column--"]:not(.column--mobile-same) {
        float: none !important;
        width: 100% !important;
        }
}