.header {
    padding: 60px 0 100px;
    }


.logo {
    text-align: right;
    }
.logo svg {
    fill: $color_black;
    height: 21px;
    width: 150px;
    }


@media only screen and ( max-width: $break_mobile_small ) {
    .logo svg {
        width: 100%;
        }
}


@media only screen and ( max-width: $break_tablet_full ) {
    .header {
        padding: 60px $grid_tablet_spacing 0;
        }
}


@media only screen and ( max-width: $break_tablet_small ) {
    .header {
        padding: 50px $grid_mobile_spacing;
        }
}