.figure {
    background-color: $color_grey_loadin;
    line-height: 0;
    }

.image {
    max-width: 100%;
    position: relative;
    width: 100%;
    }

.image--cinema {
    padding-bottom: 56.25%;
    }