.index__item {
    margin-bottom: $base_gutter;
    }


@media only screen and ( max-width: $break_tablet_full ) {
    .index {
        padding-top: $grid_desktop_spacing;
        }
    .index__item {
        width: calc( (100% - #{$base_gutter}) * 0.5 );
        }
}