.loadin {
    @include transition(opacity $base_transition_duration2 ease);
    opacity: 0;
    height: 100%;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: $z_layer_hidden;

    &.is-active {
        opacity: 1;
        visibility: visible;
        z-index: $z_layer_forward;
        }
    &.is-leaving {
        opacity: 0;
        }
    }

.loadin__logo {
    @include transition(opacity $base_transition_duration2 ease);
    opacity: 0;

    &.is-active {
        opacity: 1;
        }
    }

.loadin svg {
    fill: $color_white;
    height: 43px;
    width: 310px;
    }


@media only screen and ( max-width: $break_tablet_small ) {
    .loadin svg {
        height: 28px;
        width: 200px;
        }
}