.loader {
    opacity: 0;
    @include transform(translate3d(0, $base_gutter, 0));
    @include transition(opacity $base_transition_duration2 ease, transform $base_transition_duration2 ease);
    bottom: 0;
    height: $base_gutter;
    left: 0;
    position: fixed;
    width: 0;
    z-index: $z_layer_forward;

    &.is-loading {
        opacity: 1;
        @include transform(translate3d(0, 0, 0));
        }
    }