.overlay {
    @include transition(opacity $base_transition_duration2 ease);
    @include opacity(0);
    height: 100%;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: $z_layer_hidden;

    &.is-active {
        @include opacity(1);
        visibility: visible;
        z-index: $z_layer_forward;
        }
    &.is-leaving {
        @include opacity(0);
        }
    }

.overlay .h1,
.overlay h1 {
    line-height: 1.4;
    }

.overlay .h1,
.overlay h1,
.overlay .a,
.overlay a {
    color: $color_white;
    }

.overlay__content {
    @include transition(opacity $base_transition_duration2 ease, transform $base_transition_duration2 ease);
    @include transform(translate3d(0, 50px, 0));
    @include opacity(0);
    display: block;
    height: 100%;
    max-width: 1075px;
    padding-left: $grid_desktop_spacing;
    padding-top: 130px;
    position: relative;
    text-align: left;
    width: 60%;

    &.is-active {
        @include opacity(1);
        @include transform(translate3d(0, 0, 0));
        }
    }

.overlay__about {
    margin: 100px 0 100px;
    }


@media only screen and ( max-width: $break_tablet_full ) {
    .overlay__content {
        width: 60%;
        }
}


@media only screen and ( max-width: $break_tablet_medium ) {
    .overlay__content {
        width: 80%;
        }
}


@media only screen and ( max-width: $break_tablet_small ) {
    .overlay__content {
        padding: 60px $grid_mobile_spacing;
        text-align: left;
        width: 100%;
        }
}


@media only screen and ( max-width: $break_mobile_full ) {
    .overlay__about {
        margin: 50px 0 50px;
        }

    .overlay__social {
        bottom: 60px;
        left: $grid_mobile_spacing;
        position: absolute;
        }
}


@media only screen and ( max-width: $break_mobile_medium ) {
    .overlay__content {
        padding: 40px;
        }
    .overlay .h1,
    .overlay h1,
    .overlay .h2 {
        font-size: 22px !important;
        }
    .overlay .p {
        font-size: 14px !important;
        }

    .overlay__social {
        bottom: $grid_mobile_spacing;
        left: $grid_mobile_spacing;
        }
}