.page {
    background-color: $color_white;
    margin: 0 auto;
    overflow: hidden;
    padding-left: $grid_desktop_spacing;
    padding-right: $grid_desktop_spacing;
    position: relative;
    width: 100%;
    @include transition(opacity $base_transition_duration2 ease, transform $base_transition_duration2 ease);

    &.is-overlain {
        opacity: 0.8;
        @include transform(translate3d(0, 50px, 0));
        }

    &.is-reactive {
        @include transform(translate3d(0, 50px, 0));
        }

    &.is-inactive {
        opacity: 0;
        }
    }


@media only screen and ( max-width: $break_tablet_full ) {
    .page {
        padding-left: 0;
        padding-right: 0;
        }
}