.page {
    background-color: $color_white;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: $grid_max_width;
    }

@media only screen and ( max-width: $grid_max_width ) {
    .page {
        width: 100%;
        }
}