.post {
    position: relative;
    }

.post__meta {
    font-size: 16px;
    }

.post__content--quote-block h1 a {
    @include transition(border-bottom-color $base_transition_duration1 ease);
    border-bottom: 1px solid transparent;
    text-decoration: none;
    }

.post__content:not(.post__content--quote-block) .post__title h1 a,
.post__content:not(.post__content--quote-block) .post__title .h1 a {
    @include transition(border-bottom-color $base_transition_duration1 ease);
    border-bottom: 1px solid transparent;
    color: $color_black;
    text-decoration: none;

    &:hover {
        border-bottom-color: $color_black;
        }
    }


@media only screen and ( min-width: $grid_min_width ) {
    .post__body,
    .post__image {
        float: right;
        margin-bottom: 0;
        width: 70%;
        }

    .post__content:not(.post__content--quote-block) {
        float: left;
        width: 30%;

        .column {
            float: none;
            width: 80%;
            }
        }
    .post__content.post__content--quote-block > .post__col:first-child {
        width: 30%;
        }

    .post__meta {
        margin-bottom: 30px;
        }
}


@media only screen and ( max-width: $break_tablet_full ) {
    .post {
        border-bottom: none;
        }

    .post__content {
        padding: 0 70px;
        }

    .post__col:last-child {
        width: 50%;
        }
}


@media only screen and ( max-width: $break_tablet_medium ) {
    .post__col:last-child {
        width: 60%;
        }
}


@media only screen and ( max-width: $break_tablet_small ) {
    .post__col:last-child {
        width: 70%;
        }
}


@media only screen and ( max-width: $break_tablet_small ) {
    .post {
        border: 0 !important;
        padding-top: 0 !important;
        }

    .post__content {
        padding: 0 50px;
        }

    .post__meta {
        margin-bottom: 14px;;
        }
}