.sqs-block {
    padding: 0 !important;
    }
.sqs-layout > .sqs-row {
    margin: 0 !important;
    }

// video
.sqs-block-video {
    padding: 0 !important;
    }

.sqs-video-overlay img {
    position: absolute !important;
    }

.sqs-video-wrapper .sqs-video-overlay .sqs-video-icon {
    background-image: url(/assets/images/icon-playbutton.svg) !important;
    }