p,
.p {
    color: $color_body;
    font-family: $font_proxima;
    font-size: $base_font_size;
    font-style: normal;
    font-weight: 300;
    line-height: $base_line_height;
    }
.p--meta {
    font-size: 16px;
    }

a,
.a {
    @include transition(color $base_transition_duration1 ease);
    font-weight: normal;
    text-decoration: underline;

    &:hover {
        color: $color_black;
        }
    }
.a--alt {
    @include transition(border-bottom-color $base_transition_duration1 ease);
    border-bottom: 1px solid transparent;
    text-decoration: none;

    &:hover,
    &.is-active {
        border-bottom-color: $color_white;
        }
    }

h1,
.h1 {
    color: $color_black;
    font-family: $font_freight;
    font-size: $base_font_size_headline;
    font-style: normal;
    font-weight: 300;
    line-height: 1.2;
    }

h1 a,
.h1 a,
h1 .a,
.h1 .a {
    text-decoration: none;
    }


h2,
.h2 {
    color: $color_black;
    font-family: $font_freight;
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: 1.2;
    }

.h3 {}

.h4 {}

.h5 {}

.h6 {}


@media only screen and ( min-width: $grid_min_width_font_sizing ) {
    p,
    .p {
        font-size: $big_font_size;
        }

    h1,
    .h1 {
        font-size: $big_font_size_headline;
        }

    h2,
    .h2 {
        font-size: 30px;
        }
}


@media only screen and ( max-width: $break_tablet_full ) {
    h1,
    .h1 {
        font-size: $small_font_size_headline;
        }

    h2,
    .h2 {
        font-size: 24px;
        }
}