.p {
    color: $color_body;
    font-family: $font_proxima;
    font-size: $base_font_size;
    font-style: normal;
    font-weight: 300;
    line-height: $base_line_height;
    }

.a {
    color: $color_highlight;
    font-weight: normal;
    text-decoration: underline;
    }

.h1 {
    color: $color_black;
    font-family: $font_freight;
    font-size: $base_font_size_headline;
    font-style: normal;
    font-weight: 300;
    line-height: 1.2;
    }

.h2 {
    }

.h3 {
    }

.h4 {
    }

.h5 {
    }

.h6 {
    }


// 1630
@media only screen and ( min-width: 1630px ) {
    .h1 {
        font-size: $big_font_size_headline;
        }
}