.p {
    color: $color_body;
    font-family: $font_proxima;
    font-size: $base_font_size;
    line-height: $base_line_height;
    }

.a {
    color: $color_highlight;
    font-weight: normal;
    text-decoration: underline;
    }

.h1 {
    color: $color_black;
    font-family: $font_freight;
    font-size: 34px;
    line-height: 1;
    }

.h2 {
    }

.h3 {
    }

.h4 {
    }

.h5 {
    }

.h6 {
    }