.sqs-video-wrapper .sqs-video-overlay .sqs-video-icon {
    @include border-radius(64px);
    @include opacity(1);
    border: 3px solid $color_white;
    display: inline-block;
    height: 64px;
    left: 50%;
    line-height: 68px;
    margin-left: -32px;
    margin-top: -32px;
    position: absolute;
    top: 50%;
    width: 64px;

    &:before {
        content: "";
        display: inline-block;
        border-bottom: 10px solid transparent;
        border-left: 12px solid $color_white;
        border-top: 10px solid transparent;
        height: 0;
        margin-left: 25px;
        width: 0;
        }
    }

.video-caption-wrapper {
    left: 0;
    margin-top: -120px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    }

.video-caption,
.video-caption p {
    color: $color_white;
    font-family: $font_freight;
    font-size: $base_font_size_headline;
    line-height: 1.2;
    }

.sqs-video-wrapper .sqs-video-overlay .sqs-video-opaque {
    @include opacity(0);
    background-color: #2b2b2b;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    }


// style caption + button
.is-caption {
    .video-caption-wrapper {
        margin-top: -75px;
        }

    .sqs-video-wrapper .sqs-video-overlay .sqs-video-icon {
        margin-top: 18px;
        }
}


@media only screen and ( max-width: 1500px ) {
    .is-caption {
        .video-caption-wrapper {
            margin-top: -55px;
            }

        .sqs-video-wrapper .sqs-video-overlay .sqs-video-icon {
            margin-top: 8px;
            }
    }
}


@media only screen and ( max-width: $break_mobile_full ) {
    .is-caption {
        .video-caption-wrapper {
            margin-top: -45px;
            }

        .sqs-video-wrapper .sqs-video-overlay .sqs-video-icon {
            height: 48px;
            line-height: 48px;
            margin-left: -24px;
            margin-top: 0;
            width: 48px;

            &:before {
                margin-left: 18px;
                }
            }
    }
}