@import "compass";
@import "compass/reset";

/*! Developer Styles */
@import "variables";
@import "mixins";
@import "grid";
@import "elements";
@import "classes";
@import "spacing";
@import "modifiers";
@import "page";
@import "module";
@import "icon";
@import "header";
@import "navi";
@import "footer";
@import "typography";
@import "images";
@import "gallery";
@import "posts";
@import "audio";
@import "video";
@import "overlay";
@import "loader";
@import "loadin";
@import "visibility";
@import "index";
@import "sqs-overrides";


.screen {
    @include transition(opacity $base_transition_duration4 ease);
    background-color: $color_white;
    opacity: 0;
    height: 100%;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: $z_layer_hidden;

    &.is-active {
        opacity: 1;
        visibility: visible;
        z-index: $z_layer_forward;
        }
    &.is-leaving {
        opacity: 0;
        }
    }