/******************************************************************************
 * Document States
*******************************************************************************/
.is-hoverable {
    p a:hover,
    .a--lit:hover {
        color: $black;
    }
    .a--dim:hover,
    .splash .sqs-block-html a:hover {
        color: $medium;
    }
    .feed__media__wrap:hover {
        .feed__quickview {
            opacity: 1;

            .anim {
                opacity: 1;
                transform: translate3d( 0, 0, 0 );
            }
        }
    }
    .grid__image:hover {
        .grid__image__hover {
            opacity: 1;
        }
    }
}

.is-touchable {}

.is-uid-page {}

.is-info-open {}

.is-navi-open {}

.is-quickview-open {}

.is-darkside {
    ._svg--play,
    ._svg--returner {
        fill: $white;
    }
    .a.is-active {
        color: $white;
    }
    .menu--categories {
        .menu__a.is-active {
            .menu__text {
                color: $white;
            }
        }
    }
}
.is-hoverable.is-darkside {
    p a:hover,
    .menu__a:hover .a--lit,
    .a--lit:hover {
        color: $medium;
    }
}
