/******************************************************************************
 * Document
*******************************************************************************/
html {
    background-color: $white;
    color: $black;
    transition: color $base-duration $ease,
                background-color $base-duration $ease;
    }
body {
    background-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba( 0, 0, 0, 0 );
    -webkit-touch-callout: none;
    @include font-family-reg();
    }



/******************************************************************************
 * User Agent
*******************************************************************************/
// ::-webkit-scrollbar {
//     display: none;
//     }
