/******************************************************************************
 * Font Declarations
*******************************************************************************/

// Klim fonts...
@font-face {
    font-family: $font-family-sans;
    src: url( "/assets/fonts/UntitledSansWeb-Regular.woff" ) format( "woff" );
    font-style: normal;
    font-stretch: normal;
}
