/******************************************************************************
 * Paragraphs
*******************************************************************************/
p, .p {
    @include p();
}
p {
    a {
        border-bottom: 1px solid transparent;
        color: $grey;
        transition: color $fast-duration $ease,
                    border-bottom-color $fast-duration $ease;
    }
}
strong, .s {
    @include s();
}
.m {
    @include m();
}


/******************************************************************************
 * Links
*******************************************************************************/
.a {
    @include a();
    border-bottom: 1px solid transparent;
    transition: color $fast-duration $ease,
                border-bottom-color $fast-duration $ease;
}
.a--lit {
    &.is-active {
        color: $black;
        border-bottom-color: transparent;
    }
}
.a--dim {}
.a--blk {
    display: inline-block;
}


/******************************************************************************
 * Headlines
*******************************************************************************/
h1, .h1 {
    @include h1();
}
h2, .h2 {
    @include h2();
}
h3, .h3 {
    @include h3();
}
h4,
.h4 {
    @include h4();
}
