[class*=sqs-col] {
    float: none;
    display: inline-block;
    vertical-align: top;
}
[class*=sqs-col] .sqs-block {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: none;
    // transition: none;
}


.sqs-layout > .sqs-row {
    margin-left: 0;
    margin-right: 0;

    // Flexbox?
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.sqs-row:before,
.sqs-row:after {
    display: none;
}



.sqs-block p + p,
.sqs-block h1 + p,
.sqs-block h2 + p,
.sqs-block h3 + p,
.sqs-block blockquote + p, {
    margin-top: 56px;
}
.sqs-block blockquote {
    @include h4();
}
.sqs-block-spacer {
    .sqs-block-content {
        height: $expander-1 !important;

        @include respond( $break-laptop-medium ) {
            height: 100px !important;
        }

        @include respond( $mobile-breakpoint ) {
            height: 30px !important;
        }
    }
}
.sqs-block-html {
    .sqs-block-content {
        .main & {
            @include wrap();
        }

        > p {
            max-width: 1000px;
        }

        a {
            border-bottom: 1px solid transparent;
            transition: color $fast-duration $ease,
                        border-bottom-color $fast-duration $ease;
        }
    }
}
.sqs-block-video {
    .sqs-block-content {
        @include wrap();

        @include respond( $mobile-breakpoint ) {
            padding-left: 0;
            padding-right: 0;
        }
    }
}
.sqs-block-image {
    .media {
        @include respond( $mobile-breakpoint ) {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }
    .media--overlap {
        .media__text {
            @include respond( $mobile-breakpoint ) {
                padding-left: 20px;
                padding-right: 20px;
                padding-bottom: $padding-1;
            }
        }
    }
    .media__cap {
        @include respond( $mobile-breakpoint ) {
            padding-left: $padding-2;
            padding-right: $padding-2;
        }
    }
    .media-wrap {
        @include respond( $mobile-breakpoint ) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    .media:not( .-wrap ) {
        .media__cap {
            @include wrap();
        }
    }
}
.sqs-block-gallery {
    .grid,
    .diptych {
        @include respond( $mobile-breakpoint ) {
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    .media__cap {
        @include respond( $mobile-breakpoint ) {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .grid__item + .grid__item {
        @include respond( $mobile-breakpoint ) {
            margin-top: 10px;
        }
    }
    .diptych__item + .diptych__item {
        @include respond( $mobile-breakpoint ) {
            margin-top: 10px;
        }
    }
    .diptych__item:first-child {
        .media__cap {
            @include respond( $mobile-breakpoint ) {
                margin-bottom: 20px;
            }
        }
    }
}



.sqs-layout:not(.sqs-editing) > .sqs-row:first-child > [class*=sqs-col]:first-child > .sqs-block:last-child,
.sqs-layout:not(.sqs-editing) .sqs-block + .sqs-row .sqs-block:not(.float):last-child {
    padding-bottom: 0 !important;
}
.sqs-layout:not(.sqs-editing) .sqs-block + .sqs-row .sqs-block:not(.float):first-child {
    padding-top: 0 !important;
}
