/******************************************************************************
 * Animations
*******************************************************************************/
.anim {
    transition-duration: $base-duration;
    transition-timing-function: $ease;
    }
.anim--op {
    opacity: 0;
    transition-property: opacity;

    &.is-animated {
        opacity: 1;
        }
    }
.anim--tr {
    opacity: 0;
    transform: translateY( $anim-1 );
    transition-property: transform, opacity;

    &.is-animated {
        opacity: 1;
        transform: translateY( 0 );
        }
    }
