$feed-item-pad: 5.46875vw;
$feed-link-pad: 7.421875vw;



.feed {
    .-grey {
        display: inline-block;
    }

    &.-wrap {
        @include respond( $mobile-breakpoint ) {
            padding-left: 0;
            padding-right: 0;
        }
    }
}
.feed__item {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: $feed-item-pad;
    padding-bottom: $feed-item-pad;
    position: relative;

    & + .feed__item:before {
        content: "";
        height: 1px;
        left: -100px;
        right: -100px;
        position: absolute;
        background-color: #d8d8d8;
        top: 0;

        @include respond( $mobile-breakpoint ) {
            display: none;
        }
    }

    @include respond( $mobile-breakpoint ) {
        padding-top: 0;
        padding-bottom: 0;
    }
}
.feed__item--link {
    padding-top: 0;
    padding-bottom: 0;
}
.feed__meta {
    margin-top: 10px;

    @include respond( $mobile-breakpoint ) {
        margin-top: 5px;
    }
}
.feed__info {
    padding-right: $padding-1 / 2;

    @include respond( $mobile-breakpoint ) {
        order: 2;
        padding: 30px $padding-2 $padding-1;
        width: 100%;
    }
}
.feed__media {
    position: relative;
    text-align: center;

    @include respond( $mobile-breakpoint ) {
        order: 1;
        width: 100%;
    }

    .image--tall {
        height: 35vw;
        width: auto;

        @include respond( $mobile-breakpoint ) {
            height: auto;
            width: 100%;
        }
    }

    .image--box,
    .image--wide {
        width: 100%;
        height: auto;
    }
}
.feed__media__wrap {
    display: inline-block;
    position: relative;
    width: 100%;

    &.is-tallboy {
        width: auto;
    }
}
.feed__quickview {
    background-color: rgba( 0, 0, 0, 0.2 );
    height: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    text-align: left;
    top: 0;
    transition: opacity $base-duration $ease;
    width: 100%;

    @include respond( $mobile-breakpoint ) {
        display: none;
    }
}
.feed__quickview__wrap {
    bottom: 0;
    left: 0;
    padding: 0 0 $button-play-size $button-play-size;
    position: absolute;
    width: 100%;
}
.feed__quickview__hit {
    display: inline-block;
    pointer-events: auto;

    .is-hoverable &:hover {
        .feed__quickview__text {
            border-bottom: 1px solid $white;
        }
    }
}
.feed__quickview__icon {
    pointer-events: none;
    display: inline-block;
    vertical-align: middle;

    ._svg--play {
        fill: $white;
    }
}
.feed__quickview__text {
    margin-left: 20px;
    pointer-events: none;
    display: inline-block;
    vertical-align: middle;
    border-bottom: 1px solid transparent;
    transition: border-bottom-color $base-duration $ease;
}



.feed__link {
    width: 100%;
    display: block;

    .media--overlap {
        padding-bottom: $feed-link-pad;
        padding-top: $feed-link-pad;

        @include respond( $mobile-breakpoint ) {
            padding-bottom: 0;
            padding-top: 0;
        }

        &.is-collider {
            .media__node {
                opacity: 1;
            }
        }

        h2, .h2, .h2 p {
            @include respond( $mobile-breakpoint ) {
                @include h4();
            }
        }

        .media__text {
            position: relative;
            top: auto;
            transform: none;

            @include respond( $mobile-breakpoint ) {
                padding: 30px $padding-2 $padding-1;
            }

            strong {
                @include respond( $mobile-breakpoint ) {
                    color: $black;
                }
            }
        }

        .media__node {
            width: 50%;
            height: auto;
            opacity: 0;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate3d( -50%, -50%, 0 );

            .image--tall {
                height: 35vw;
                width: auto;
                min-height: 800px;

                @include respond( $break-laptop-medium ) {
                    min-height: 700px;
                }

                @include respond( $mobile-breakpoint ) {
                    height: auto;
                    min-height: none;
                    width: 100%;
                }
            }

            .image--box,
            .image--wide {
                width: 100%;
                height: auto;
            }

            @include respond( $mobile-breakpoint ) {
                width: 100%;
                opacity: 1;
                position: relative;
                left: auto;
                top: auto;
                transform: none;
            }
        }
    }

    strong {
        color: $grey;
        @include font-family-reg();
    }
}
