.feed {
    .-grey {
        display: block;
    }

    &.-wrap {
        @include respond( $mobile-breakpoint ) {
            padding-left: 0;
            padding-right: 0;
        }
    }
}
.feed__item {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: $expander-1;

    @include respond( $mobile-breakpoint ) {}
}
.feed__meta {
    margin-top: 10px;
    }
.feed__info {
    padding-right: $padding-1 / 2;

    @include respond( $mobile-breakpoint ) {
        order: 2;
        padding: 30px $padding-1 $padding-1;
        width: 100%;
    }
}
.feed__media {
    @include respond( $mobile-breakpoint ) {
        order: 1;
        width: 100%;
    }

    .media {}
    .media--tall {
        padding-bottom: 100%;
    }
    .media__node {
        &.image--tall {
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translateX( -50% ) translateY( -50% );
        }
    }
    .image--wide {
        width: 100%;
        }
    .image--tall {
        height: 100%;
        width: auto;
        }
}
