.footer {
    bottom: 0;
    left: 0;
    padding-bottom: $padding-1 / 2;
    position: absolute;
    width: 100%;

    .a {
        color: $white;
    }

    .p {
        @include respond( $mobile-breakpoint ) {
            font-size: $h4-size-mobile;
        }
    }
}
.footer__social {
    text-transform: capitalize;
    }
.footer__social + .footer__social {
    margin-left: 32px;
}
.footer__col {
    @include respond( $break-tablet-medium ) {
        text-align: left !important;
        width: 100%;
    }
}

.footer__col + .footer__col {
    @include respond( $break-tablet-medium ) {
        margin-top: $expander-1;
    }
}



.related {
    .grid {
        @include respond( $mobile-breakpoint ) {
            padding-left: 0;
            padding-right: 0;
        }
    }
}
.related__grid {
    border-top: 1px solid $grey-lit;
    padding-top: $expander-1;
    padding-bottom: $expander-1;

    @include respond( $mobile-breakpoint ) {
        padding-bottom: 0;
        padding-top: 30px;
    }

    .is-darkside & {
        border-top-color: $charcoal;
    }
}
