.header {
    align-items: center;
    display: flex;
    height: $header-height;
    left: 0;
    position: fixed;
    pointer-events: none;
    top: 0;
    width: 100%;
    z-index: $z_layer_header;
    transform: translate3d( 0, 0, 0 );
    transition: height $base-duration $ease,
                opacity $base-duration $ease,
                transform $base-duration $ease,
                background-color $base-duration $ease;

    @include respond( $header-break-mobile ) {
        height: $header-height-mobile;
    }

    @include respond-min( $header-break-static ) {
        height: $header-height-static;
    }

    .is-header-small & {
        height: $header-height-small;
    }

    .is-header-small.is-scroll-up & {
        background-color: rgba( 255, 255, 255, 0.95 );
    }

    .is-header-small.is-dark-theme.is-scroll-up & {
        background-color: rgba( 0, 0, 0, 0.80 );
    }

    .is-header-small.is-scroll-down & {
        opacity: 0;
        transform: translate3d( 0, -100%, 0 );
    }

    .is-header-small.is-info-open & {
        background-color: transparent;
    }
}
.header__wrap {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    pointer-events: auto;
    width: 100%;
}



.header-labels {
    left: 0;
    position: fixed;
    pointer-events: none;
    top: 0;
    z-index: $z_layer_header;
}
.header-labels__label {
    left: 0;
    position: fixed;
    top: 0;
}
.header-labels__label__text {
    @include noop();
    cursor: default;

    &.is-hover {}
}



.menu--categories {
    transition: opacity $base-duration $ease,
                transform $base-duration $ease;

    @include respond( $mobile-breakpoint ) {
        align-items: center;
        background-color: rgba( 0, 0, 0, 0.9 );
        bottom: 0;
        display: flex;
        left: 0;
        opacity: 0;
        overflow-x: hidden;
        overflow-y: scroll;
        padding-left: $padding-1;
        padding-right: $padding-1;
        pointer-events: none;
        position: fixed;
        right: 0;
        text-align: left;
        top: 0;
        transition: opacity $fast-duration $ease,
                    z-index $fast-duration $ease,
                    visibility $fast-duration $ease;
        visibility: hidden;
        z-index: $z_layer_behind;
    }
}
.menu__a {
    text-transform: capitalize;

    &.is-active {
        @include respond( $mobile-breakpoint ) {
            border-bottom: 1px solid $white;
            color: $white;
        }
    }

    @include respond( $mobile-breakpoint ) {
        color: $grey;
        display: block;
        font-size: $p-size-max;
        margin: 12px 0;
    }
}
.menu__a + .menu__a {
    @include respond-min( $mobile-breakpoint + 1px ) {
        margin-left: 20px;
    }
}
