.header {
    align-items: center;
    display: flex;
    height: $header-height;
    justify-content: space-between;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $z_layer_header;
    }
