.header {
    align-items: center;
    display: flex;
    height: $header-height;
    justify-content: space-between;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: $z_layer_header;
    transition: opacity $base-duration $ease,
                transform $base-duration $ease;

    @include respond( $break-mobile-full ) {
        height: $header-height-mobile;
        position: relative;
    }

    &.is-animated {}
    &.is-animated-out {
        opacity: 0;
        transform: translate3d( 0, 0, 0 );
    }
}
