.info {
    color: $white;
    padding-top: $header-height;
    padding-bottom: $header-amount;

    .is-info-open & {
        pointer-events: auto;
    }

    .sqs-layout > .row > .col > .sqs-block-html:last-child {
        br {
            @include respond( 830px ) {
                display: none;
            }
        }

        .sqs-block-content a {
            border-bottom: 1px solid $white;

            .is-hoverable &:hover {
                border-bottom-color: $medium;
            }
        }
    }

    .sqs-block-html .sqs-block-content a {
        color: $white;
    }

    .sqs-block-html .sqs-block-content > p {
        max-width: 100%;
    }

    .sqs-layout > .row > .col > .row {
        max-width: 1200px;
    }

    .sqs-block p + p {
        margin-top: 32px;

        @include respond( $mobile-breakpoint ) {
            margin-top: 20px;
        }
    }

    .sqs-block-spacer .sqs-block-content {
        @include respond( $mobile-breakpoint ) {
            height: 100px !important;
        }
    }

    .sqs-col-12 .sqs-col-4 {
        @include respond( $break-tablet-medium ) {
            width: 50%;
        }

        @include respond( $mobile-breakpoint ) {
            width: 100%;
        }
    }

    .sqs-col-12 .sqs-col-4:nth-child( 2 ) {
        @include respond( $mobile-breakpoint ) {
            margin-top: 56px;
        }
    }

    .sqs-col-12 .sqs-col-4:nth-child( 3 ) {
        @include respond( $break-tablet-medium ) {
            margin-top: 56px;
        }
    }

    h2 {
        br {
            @include respond( $break-tablet-full ) {
                display: none;
            }
        }
    }

    @include respond( $header-break-mobile ) {
        padding-top: $header-height-mobile;
    }

    @include respond-min( $header-break-static ) {
        padding-top: $header-height-static;
    }
}
.info__content {
    padding-top: $feed-item-pad;
}
.info__header {
    align-items: center;
    display: flex;
    height: $header-height;
    left: 0;
    position: absolute;
    pointer-events: none;
    top: 0;
    width: 100%;
    z-index: 3;

    .is-header-small & {
        height: $header-height-small;
    }

    @include respond( $header-break-mobile ) {
        height: $header-height-mobile;
    }

    @include respond-min( $header-break-static ) {
        height: $header-height-static;
    }
}
.info__header__wrap {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
}
