.intro {
    text-align: center;

    .anim {
        transform: translate3d( 0, 25%, 0 );

        &.is-animated {
            transform: translate3d( 0, 0, 0 );
        }
    }

    .is-intro & {
        opacity: 1;
        visibility: visible;
        z-index: $z_layer_screen + 10;
    }
}
.intro__time {
    transition-delay: $base-duration;
}
