.intro {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    z-index: $z_layer_screen + 10;

    &.is-pressed {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        z-index: -1;
    }

    .intro__press {
        padding-top: $header-amount;
        padding-left: $header-amount;

        @include respond( $mobile-breakpoint ) {
            padding-top: 50px;
            padding-left: 50px;
        }
    }

    @include respond( $break-tablet-medium ) {
        border: none !important;
    }
}
