.intro {
    text-align: center;

    h1, .h1 {
        @include respond( $break-tablet-medium ) {
            @include h2();
        }

        // @include respond( $break-mobile-medium ) {
        //     @include p();
        // }
    }

    .anim {
        transform: translate3d( 0, 25%, 0 );

        &.is-animated {
            transform: translate3d( 0, 0, 0 );
        }
    }

    .is-intro & {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        z-index: $z_layer_screen + 10;
    }
}
.intro__time {
    transition-delay: $base-duration;
}
