$offset: 187 / 2;
$duration: 1000ms;

.spinner {
    animation: rotator $duration linear infinite;
}

@keyframes rotator {
    0% { transform: rotate( 0deg ); }
    100% { transform: rotate( 270deg ); }
}

.path {
    stroke-dasharray: $offset;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: dash $duration ease-in-out infinite,
               colors ($duration * 4) ease-in-out infinite;

    .is-darkside & {
        animation: dash $duration ease-in-out infinite,
                   colors2 ($duration * 4) ease-in-out infinite;
    }
}

@keyframes colors {
    0% { stroke: rgba( 0, 0, 0, 1.0 ); }
    25% { stroke: rgba( 0, 0, 0, 0.8 ); }
    50% { stroke: rgba( 0, 0, 0, 0.6 ); }
    75% { stroke: rgba( 0, 0, 0, 0.4 ); }
    100% { stroke: rgba( 0, 0, 0, 0.2 ); }
}

@keyframes colors2 {
    0% { stroke: rgba( 255, 255, 255, 1.0 ); }
    25% { stroke: rgba( 255, 255, 255, 0.8 ); }
    50% { stroke: rgba( 255, 255, 255, 0.6 ); }
    75% { stroke: rgba( 255, 255, 255, 0.4 ); }
    100% { stroke: rgba( 255, 255, 255, 0.2 ); }
}

@keyframes dash {
    0% { stroke-dashoffset: $offset; }
    50% {
        stroke-dashoffset: $offset / 4;
        transform:rotate( 135deg );
    }
    100% {
        stroke-dashoffset: $offset;
        transform:rotate( 450deg );
    }
}



.loadmore {
    cursor: pointer;
    padding-top: $padding-2;
    padding-bottom: $padding-2;

    .loading {
        display: inline-block;
    }
}
