.loading {
    transition: opacity $base-duration $ease,
                visibility $base-duration $ease;
    width: 32px;
    z-index: 1;

    .is-loaded & {
        display: none;
    }
}
.loading__dots {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.loading__dot {
    background-color: $medium;
    border-radius: 6px;
    height: 6px;
    width: 6px;

    .is-loaded & {
        animation: none !important;
    }
}
.loading__dot:nth-child( 1 ) {
    animation: d1 1500ms infinite;
}
.loading__dot:nth-child( 2 ) {
    animation: d2 1500ms infinite;
}
.loading__dot:nth-child( 3 ) {
    animation: d3 1500ms infinite;
}
@keyframes d1 {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}
@keyframes d2 {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}
@keyframes d3 {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}



.loadmore {
    cursor: pointer;
    padding-top: $padding-2;
    padding-bottom: $padding-2;

    .loading {
        display: inline-block;
    }
}
