.main {
    // overflow: hidden;
    padding-top: $header-height;
    transition-duration: $base-duration;
    }



.page {
    &.is-animated {
        .anim--tr {
            opacity: 1;
            transform: translateY( 0 );
            transition-delay: 300ms;
            }
    }
    &.is-animated-out {
        .anim--tr {
            opacity: 0;
            transform: translateY( -$anim-1 );
            transition-delay: 0ms;
            }
    }
}



.footer {
    align-items: center;
    bottom: 0;
    display: flex;
    height: $header-height;
    justify-content: space-between;
    left: 0;
    pointer-events: none;
    position: fixed;
    width: 100%;

    &.is-animated {
        pointer-events: auto;

        .anim--tr {
            opacity: 1;
            transform: translateY( 0 );
            }
        .footer__col:first-child {
            transition-delay: 300ms;
            }
        .footer__col:last-child {
            transition-delay: 400ms;
            }
    }
}
.footer__social {
    text-transform: capitalize;
    }
.footer__social + .footer__social {
    margin-left: 32px;
}
.footer__col {
    @include respond( 640px ) {
        text-align: center !important;
        width: 100%;
    }
}
.footer__col + .footer__col {
    @include respond( 640px ) {
        margin-top: 5vw;
    }
}



.article {
    &.is-animated {
        .anim--tr {
            opacity: 1;
            transform: translateY( 0 );
            }
        .article__image {
            transition-delay: 300ms;
            }
    }
    &.is-animated-out {
        .anim--tr {
            opacity: 0;
            transform: translateY( -$anim-1 );
            }
        .article__image {
            transition-delay: 0ms;
            }
    }
}
.article__image {
    padding-top: $padding-1;
    }



.feed {}
.feed__item {
    &:first-child {
        padding-top: 0;
        }
    &.is-animated {
        .anim--tr {
            opacity: 1;
            transform: translateY( 0 );
            }
        .feed__meta {
            transition-delay: 300ms;
            }
        .feed__title {
            transition-delay: 400ms;
            }
        .feed__media {
            transition-delay: 500ms;
            }
    }
    &.is-animated-out {
        .anim--tr {
            opacity: 0;
            transform: translateY( -$anim-1 );
            }
        .feed__meta {
            transition-delay: 0ms;
            }
        .feed__title {
            transition-delay: 0ms;
            }
        .feed__media {
            transition-delay: 0ms;
            }
    }
}
.feed__title {
    margin-top: 10px;
    }
.feed__media {
    .media {
        padding-bottom: 100%;
        }
    .media__node {
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translateX( -50% ) translateY( -50% );
        }
    .image--wide {
        width: 100%;
        }
    .image--tall {
        height: 100%;
        width: auto;
        }
}
