.navi {}
.navi--main {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY( -50% );
}
.navi--mobile,
.navi--returner {
    @include noop();
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY( -50% );
    transition: opacity $base-duration $ease,
                transform $base-duration $ease;
}
.navi--mobile {
    @include respond( $mobile-breakpoint ) {
        @include poon();
    }
}
.navi__a--mobile-category {
    border-bottom: 1px solid $black;
    text-transform: capitalize;
}



.navi__a--info {
    display: block;

    ._svg--circle {
        background-color: transparent;
        // border: 1px solid red;
    }
}
.navi__label {
    @include noop();
    cursor: default;
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translate3d( -20px, -35%, 0 );
    transition: opacity $base-duration $ease,
                transform $base-duration $ease;

    &.is-hover {
        opacity: 1;
        transform: translate3d( -20px, -50%, 0 );
    }
}
