.navi {}
.navi--main {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY( -50% );
}
.navi--mobile,
.navi--returner {
    @include noop();
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY( -50% );
    transition: opacity $base-duration $ease,
                transform $base-duration $ease;
}
.navi--mobile {
    @include respond( $mobile-breakpoint ) {
        @include poon();
    }
}
.navi__a--info {
    display: block;
}
.navi__a--mobile-category {
    border-bottom: 1px solid $black;
    text-transform: capitalize;
}
