.navi {}
.navi--mobile,
.navi--returner {
    display: none;
}
.navi--mobile {
    @include respond( $break-mobile-full ) {
        display: block;
    }
}
.navi__a--info {
    display: block;
    position: relative;
    text-indent: -9999px;

    &:after {
        background-color: $black;
        border-radius: 24px;
        content: "";
        display: inline-block;
        height: 24px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY( -50% );
        width: 24px;
    }
}
.navi__a--mobile-category {
    border-bottom: 1px solid $black;
    text-transform: capitalize;
}
