.splash {
    background-color: $black;
    color: $white;
    height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100vw;

    h1, .h1 {
        @include respond( $break-tablet-medium ) {
            @include h2();
        }

        @include respond( $break-mobile-medium ) {
            @include p();
        }
    }
}
.splash__footer {
    .footer__col {
        @include respond( $break-tablet-medium ) {
            text-align: center !important;
        }
    }
}
