.splash {
    background-color: $black;
    color: $white;
    height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100vw;
    }
.splash__footer {
    .footer__col {
        @include respond( $break-mobile-full ) {
            text-align: center !important;
        }
    }
}
