._svg {
    transition: fill $fast-duration $ease;
    }
._svg--returner {
    fill: $black;
    height: 19.5px;
    width: 22px;
}
._svg--ender {
    fill: $white;
    height: 19px;
    width: 19px;
}
._svg--circle {
    background-color: $black;
    border-radius: 24px;
    display: block;
    height: 24px;
    width: 24px;
}
._svg--play {
    fill: $black;
    height: 45px;
    width: 45px;
}
