.svg {
    transition: fill $fast-duration $ease;
    }
.svg--returner {
    fill: $black;
    height: 19.5px;
    width: 22px;
}
.svg--ender {
    fill: $white;
    height: 19px;
    width: 19px;
}
.svg--circle {
    background-color: $black;
    border-radius: 24px;
    display: block;
    height: 24px;
    width: 24px;
}
