/******************************************************************************
 * Fonts: Util
*******************************************************************************/
@mixin font-normal() {
    font-stretch: normal;
    font-style: normal;
}


/******************************************************************************
 * Fonts: Styles
*******************************************************************************/
@mixin font-family-reg() {
    font-family: $font-family-reg;
    @include font-normal();
}
@mixin font-family-bold() {
    font-family: $font-family-bold;
    @include font-normal();
}


/******************************************************************************
 * Type
*******************************************************************************/
@mixin p() {
    font-size: $p-size-mobile;
    line-height: $p-line;
    @include font-family-reg();

    @include respond-min( $mobile-breakpoint ) {
        font-size: $p-size-fluid;
    }

    @include respond-min( $desktop-breakpoint ) {
        font-size: $p-size-max;
    }
}
@mixin m() {
    font-size: $m-size-mobile;
    line-height: $m-line;
    @include font-family-reg();

    @include respond-min( $mobile-breakpoint ) {
        font-size: $m-size;
    }
}
@mixin s() {
    @include font-family-bold();
}
@mixin a() {
    display: inline;
    text-decoration: none;
    @include font-family-reg();
}
@mixin hp() {
    font-size: $hp-size-mobile;
    line-height: $hp-line;
    @include font-family-bold();

    @include respond-min( $mobile-breakpoint ) {
        font-size: $hp-size-fluid;
    }

    @include respond-min( $desktop-breakpoint ) {
        font-size: $hp-size-max;
    }
}
@mixin h1() {
    font-size: $h1-size-mobile;
    line-height: $h1-line;
    @include font-family-reg();

    @include respond-min( $mobile-breakpoint ) {
        font-size: $h1-size-fluid;
    }

    @include respond-min( $desktop-breakpoint ) {
        font-size: $h1-size-max;
    }
}
@mixin h2() {
    font-size: $h2-size-mobile;
    line-height: $h2-line;
    @include font-family-reg();

    @include respond-min( $mobile-breakpoint ) {
        font-size: $h2-size-fluid;
    }

    @include respond-min( $desktop-breakpoint ) {
        font-size: $h2-size-max;
    }
}
@mixin h3() {
    font-size: $h3-size-mobile;
    line-height: $h3-line;
    max-width: 1000px;
    @include font-family-reg();

    @include respond-min( $mobile-breakpoint ) {
        font-size: $h3-size-fluid;
    }

    @include respond-min( $desktop-breakpoint ) {
        font-size: $h3-size-max;
    }
}
@mixin h4() {
    font-size: $h4-size-mobile;
    line-height: $h4-line;
    max-width: 1000px;
    @include font-family-reg();

    @include respond-min( $mobile-breakpoint ) {
        font-size: $h4-size-fluid;
    }

    @include respond-min( $desktop-breakpoint ) {
        font-size: $h4-size-max;
    }
}



/******************************************************************************
 * Document states
*******************************************************************************/
@mixin state( $module, $state ) {
    .is-#{$module}-#{$state} & {
        @content;
    }
}
@mixin hover() {
    .is-hoverable &:hover {
        @content;
    }
}
@mixin noop() {
    opacity: 0;
    pointer-events: none;
}
@mixin poon() {
    opacity: 1;
    pointer-events: auto;
}
@mixin hide() {
    pointer-events: none;
    visibility: hidden;
}
@mixin wrap() {
    padding-left: $padding-1;
    padding-right: $padding-1;

    @include respond( $break-laptop-medium ) {
        padding-left: $padding-2;
        padding-right: $padding-2;
    }
}



/******************************************************************************
 * Media queries
 *
 * @see ../config/_variables.scss for Breakpoints
*******************************************************************************/
@mixin respond( $width ) {
    @media only screen and ( max-width: $width ) {
        @content;
    }
}
@mixin respond-min( $width ) {
    @media only screen and ( min-width: $width ) {
        @content;
    }
}
