/******************************************************************************
 * Fonts
*******************************************************************************/
$font-family-reg: "UntitledSansWeb-Regular";
$font-family-bold: "UntitledSansWeb-Bold";



/******************************************************************************
 * Colors
*******************************************************************************/
$black: #000;
$charcoal: #333;
$medium: #555;
$white: #fff;
$grey: #b8b8b8;
$grey-lit: #dbdbdb;



/******************************************************************************
 * Grid
*******************************************************************************/
$grid-length: 12;
$grid-columns: 12 11 10 9 8 7 6 5 4 3 2 1;



/******************************************************************************
 * Spacing
*******************************************************************************/
$expander-1: 130px;
$expander-2: 11.71875vw;
$padding-1: 13.4765625vw;
$padding-2: 9vw;
$anim-1: 32px;



/******************************************************************************
 * Sizes
*******************************************************************************/
$header-height: 206px;
$header-amount: 86px;
$header-height-small: 90px;
$header-height-static: 206px;
$header-height-mobile: 128px;
$button-play-size: 45px;
$button-play-size-big: 82px;




/******************************************************************************
 * Typography
*******************************************************************************/
$p-size-mobile: 18px;
$p-size-fluid: #{"~\"calc( #{$p-size-mobile} + 0.23vw )\""};
$p-size-max: 24px;
$p-line: 1.5833333333;
$m-size: 16px;
$m-size-mobile: 14px;
$m-line: 1.5;

$hp-size-mobile: 120px;
$hp-size-fluid: #{"~\"calc( #{$hp-size-mobile} + 7.8vw )\""};
$hp-size-max: 320px;
$hp-line: 1;

$h1-size-mobile: 34px;
$h1-size-fluid: #{"~\"calc( #{$h1-size-mobile} + 1.175vw )\""};
$h1-size-max: 64px;
$h1-line: 1.15625;

$h2-size-mobile: 28px;
$h2-size-fluid: #{"~\"calc( #{$h2-size-mobile} + 1.015vw )\""};
$h2-size-max: 54px;
$h2-line: 1.1851851852;

$h3-size-mobile: 24px;
$h3-size-fluid: #{"~\"calc( #{$h3-size-mobile} + 0.78vw )\""};
$h3-size-max: 44px;
$h3-line: 1.2272727273;

$h4-size-mobile: 22px;
$h4-size-fluid: #{"~\"calc( #{$h4-size-mobile} + 0.47025vw )\""};
$h4-size-max: 34px;
$h4-line: 1.2941176471;



/******************************************************************************
 * Breakpoints
*******************************************************************************/
$break-desktop-full: 2560px;
$break-laptop-full: 1680px;
$break-laptop-medium: 1440px;
$break-ipad-pro-width: 1366px;
$break-tablet-full: 1280px;
$break-tablet-medium: 1024px;
$break-tablet-small: 768px;
$break-mobile-full: 640px;
$break-mobile-medium: 480px;
$break-mobile-small: 320px;

// App usage
$mobile-breakpoint: $break-mobile-full;
$desktop-breakpoint: $break-desktop-full;
$header-break-mobile: 800px;
$header-break-static: 1600px;



/******************************************************************************
 * Animations
*******************************************************************************/
$ease: cubic-bezier( 0.25, 0.1, 0.25, 1 );
$slow-duration: 800ms;
$long-duration: 600ms;
$base-duration: 400ms;
$fast-duration: 200ms;



/******************************************************************************
 * Layering
*******************************************************************************/
$z_layer_behind: -1;
$z_layer_menu: 1000;
$z_layer_screen: 1001;
$z_layer_header: 1002;
