/******************************************************************************
 * Fonts
*******************************************************************************/
$font-family-sans: "UntitledSansWeb-Regular";



/******************************************************************************
 * Colors
*******************************************************************************/
$black: #000;
$charcoal: #333;
$medium: #555;
$white: #fff;
$grey: #b8b8b8;



/******************************************************************************
 * Grid
*******************************************************************************/
$grid-length: 12;
$grid-columns: 12 11 10 9 8 7 6 5 4 3 2 1;



/******************************************************************************
 * Spacing
*******************************************************************************/
$expander-1: 8vw;
$expander-2: 16vw;
$padding-1: 8vw;
$padding-2: 16vw;
$anim-1: 64px;



/******************************************************************************
 * Sizes
*******************************************************************************/
$wrap-copy: 700px;
$logo-width: 256px;
$header-height: 246px;
$header-height-mobile: 128px;




/******************************************************************************
 * Typography
*******************************************************************************/
$p-size: 16px;
$p-size-2: 20px;
$p-size-3: 24px;
$p-line: 1.3;
$h1-size: 32px;
$h1-size-2: #{"~\"calc( #{$h1-size} + 1.2vw )\""};
$h1-size-3: 64px;
$h1-line: 1.3;



/******************************************************************************
 * Breakpoints
*******************************************************************************/
$break-desktop-full: 2560px;
$break-laptop-full: 1680px;
$break-laptop-medium: 1440px;
$break-ipad-pro-width: 1366px;
$break-tablet-full: 1280px;
$break-tablet-medium: 1024px;
$break-tablet-small: 768px;
$break-mobile-full: 640px;
$break-mobile-medium: 480px;
$break-mobile-small: 320px;



/******************************************************************************
 * Animations
*******************************************************************************/
$ease: cubic-bezier( 0.25, 0.1, 0.25, 1 );
// $ease: cubic-bezier( 0.475, 0.425, 0, 0.995 );
$slow-duration: 800ms;
$long-duration: 600ms;
$base-duration: 400ms;
$fast-duration: 200ms;



/******************************************************************************
 * Layering
*******************************************************************************/
$z_layer_behind: -1;
$z_layer_menu: 1000;
$z_layer_screen: 1001;
$z_layer_header: 1002;
$z_layer_intro: 1003;
